#reader {
  .sidenote p,
  .sidenote div,
  .sidenote code,
  .sidenote li {
    display: inline;
    font-size: 0.9rem;
    margin: 0;
  }

  .marginnote p,
  .marginnote div,
  .marginnote code,
  .marginnote li {
    display: inline;
    font-size: 0.9rem;
    margin: 0;
  }

  .sidenote-number-override,
  .sidenote-label-override {
    position: relative;
    vertical-align: baseline;
    font-size: 0.8rem;
    top: -0.5rem;
  }

  .sidenote-label-override {
    margin-left: 0.5rem;
  }
  .sidenote-number-override {
    margin-right: 0.5rem;
  }

  .sidenote,
  .marginnote {
    color: wheat;
  }
}
